html, body {
  height: 100%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

// Never mind Flexbox. Spec changes too much and docs are hard to find.
@mixin vertical-center-parent() {
  display: table;
  height: 100%;
  width: 100%;
}

@mixin vertical-center-child() {
  display: table-cell;
  vertical-align: middle;
}

body {
  background-color: rgb(15, 11, 49);
  margin: 0;
  padding: 12px;
  font-family: 'Lato', sans-serif;
  font-size: 18pt;
  color: whiteSmoke;
  text-align: center;
  @include vertical-center-parent();
}

.ui {
  @include vertical-center-child();
}

p {

}

h1 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  line-height: 120%;
  font-family: Arial, sans-serif;
  color: rgb(66,66,66);
  letter-spacing: -0.05em;
}

button {
  display: block;
  background-color: whiteSmoke;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px auto;
  font-size: 14pt;
  color: #222;
  border: 1px solid #222;
}

