<p>{{ statuses[currentStatus].description }} {{ user.name }}<p>

<sub>{{ device.name }} {{ device.address }} {{ device.type }}</sub>

{{# showRegisterUI }}
	<input type="text" placeholder="Your Spotify username"><button>Save</save>
{{/}}